<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Home</title>

</head>

<body>
<div>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
        <link href="/styles/nav.css" rel="stylesheet">
        <!-- Code by Angela Delise  https://codepen.io/angeladelise/pen/OJVePqz
       -->
    </head>

    <div id='navbar'>
        <ul>
            <li><a href="/">HR-COMPANY</a></li>
            <li><a href="/employerSearch">Search employer</a></li>
            <li><a href="/companyEmployee/searchContractorWorker">Search worker</a></li>
            <li><a href="/employeesFilters">Filter employment</a></li>
            <li><a href="/companyEmployee/addContractorForm">Add contractor</a></li>
            <li><a href="/employment/getEmploymentsList">Employments list</a></li>
            <li><a href="/errorReport/NavErrorReport">Error report</a></li>
            <li><a href="/statistics/">Statistics</a></li>
        </ul>
    </div>



</div>
</body>
</html>


