<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contractor Home</title>

</head>

<!--<style>-->
<!--    :root {-->
<!--        &#45;&#45;pink: white;-->
<!--    }-->
<!--    #Hbg {-->
<!--        width: 100%;-->
<!--        height: 100%;-->

<!--        /*background-image: url("https://sites.google.com/site/humanresourcesbasics/_/rsrc/1429061903960/home/what-is-hr/people.jpg");*/-->
<!--        background-size: cover;-->

<!--        position:fixed;-->
<!--        z-index: -1;-->

<!--    }-->

<!--    .H{-->
<!--        text-decoration: none;-->
<!--        color: #2b3030;-->
<!--        left: 20px; /* Space between links in Nav*/-->
<!--        position: absolute;-->
<!--        font-family: sans-serif;-->
<!--    }-->
<!--    .P{-->
<!--        text-decoration: none;-->
<!--        color: #2b3030;-->
<!--        left: 20px; /* Space between links in Nav*/-->
<!--        position: absolute;-->
<!--        padding-top: 80px;-->
<!--        font-family: sans-serif;-->
<!--        font-size: 15px;-->
<!--    }-->

<!--    body {-->
<!--        font-family: Lato, sans-serif;-->
<!--        margin: 0;-->
<!--        background-color:azure;-->

<!--    }-->

<!--    #navbar {-->
<!--        width: 100vw;-->
<!--        height: 4.5vw;-->
<!--        background-color: #172429;-->
<!--        font-weight: bold;-->
<!--    }-->
<!--    #navbar ul {-->
<!--        list-style: none;-->
<!--        margin: 0;-->
<!--        display: flex;-->
<!--        justify-content: flex-end;-->
<!--        align-items: center;-->
<!--        padding: 1em 10px;-->
<!--    }-->
<!--    #navbar li a {-->
<!--        text-decoration: none;-->
<!--        color: #18c6c0;-->
<!--        padding-right: 2em; /* Space between links in Nav*/-->
<!--        position: relative;-->
<!--        transition: all ease-in-out 250ms;-->
<!--    }-->
<!--    #navbar li a::after {-->
<!--        content: "";-->
<!--        position: absolute;-->
<!--        display: block;-->
<!--        height: 0.4em;-->
<!--        width: 0%;-->
<!--        background-color: white;-->
<!--        bottom: -1em;-->
<!--        transition: all ease-in-out 250ms;-->
<!--    }-->
<!--    #navbar li a:hover::after {-->
<!--        width: 60%;-->
<!--    }-->
<!--    #navbar li a:hover {-->
<!--        color: white;-->
<!--    }-->
<!--    #navbar li:first-child {-->
<!--        margin-right: auto;-->
<!--        margin-left: 1em;-->
<!--    }-->

<!--    .myButton {-->
<!--        background-color: #0f9f8e;-->
<!--        border-radius:28px;-->
<!--        border:1px solid #29668f;-->
<!--        display:inline-block;-->
<!--        cursor:pointer;-->
<!--        color:#ffffff;-->
<!--        font-family: Arial ;-->
<!--        font-size:17px;-->
<!--        padding:10px 20px;-->
<!--        text-decoration:none;-->
<!--        text-shadow:0px 1px 0px #3d768a;-->
<!--        margin-right: 20px;-->

<!--    }-->
<!--    .myButton:hover {-->
<!--        background-color: #42e0db;-->
<!--    }-->
<!--    .myButton:active {-->
<!--        position:relative;-->
<!--        top:1px;-->
<!--    }-->
<!--</style>-->


<div>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
        <link href="/styles/nav.css" rel="stylesheet">
        <!-- Code by Angela Delise  https://codepen.io/angeladelise/pen/OJVePqz
       -->
    </head>

    <body>
    <div id='navbar'>
        <ul>
            <li><a href="/">HR-COMPANY</a></li>
            <li><a href="/employment/getEmploymentsListForContractor">Shifts report</a></li>
            <li><a href="/contractorWorker/displayProfile">Profile</a></li>
            <li><a href="/employment/findPastEmploymentsForContractor">history</a></li>
            <li><a href="/employment/pendingEmployments">PENDING-BOOKING</a></li>
            <li><a onclick="getEmployees()">Rating</a></li>
            <li><a href="/salary/contractorSalaryFilters">Salary filters</a></li>
            <li><a href="/vacationReport">vacation</a> </li>
        </ul>
    </div>
    <script>
        function getCookie(cname) {
            let name = cname + '=';
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    let cookie = c.substring(name.length, c.length)
                    cookie = cookie.split(':')[2].split('\"')[1]
                    return cookie
                }
            }
            return '';
        }

        function getEmployees(){

            const workerID = getCookie('contractorWorkerIDCookie')
            window.location.pathname =`/contractorWorker/getRatingContractorWorkerByID/${workerID}`
        }
    </script>

    </body>

</div>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">-->
<!--    <link href="/styles/nav.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="box-area">-->
<!--    <header>-->
<!--        <div class="wrapper">-->
<!--            <div class="logo">-->
<!--                <a href="/">HR-COMPANY</a>-->
<!--            </div>-->
<!--            <nav>-->
<!--                <a href="/employment/getEmploymentsListForContractor">Shifts report |</a>-->
<!--                <a href="/contractorWorker/displayProfile">Profile |</a>-->
<!--                <a href="/employment/findPastEmploymentsForContractor">history |</a>-->
<!--                <a href="/employment/pendingEmployments">PENDING-BOOKING</a>-->
<!--            </nav>-->
<!--        </div>-->

<!--    </header>-->


<!--</div>-->
<!--</body>-->
<!--</html>-->