<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contractor Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
    <link href="/styles/nav.css" rel="stylesheet">
</head>
<body>

<div>
    <div id='navbar'>
        <ul>
            <li><a href="/">HR-COMPANY</a></li>
            <li><a href="/employment/getEmploymentsListForContractor">Shift report/a></li>
            <li><a href="/contractorWorker/displayProfile">Profile</a></li>
            <li><a href="/employment/findPastEmploymentsForContractor">History</a></li>
            <li><a href="/employment/pendingEmployments">Pending booking</a></li>
            <li><a onclick="getEmployees()">Raiting</a></li>
            <li><a href="/salary/contractorSalaryFilters">Salary filters</a></li>
            <li><a href="/vacationReport">Vacation</a> </li>
        </ul>
    </div>
    <script>
        function getCookie(cname) {
            let name = cname + '=';
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    let cookie = c.substring(name.length, c.length)
                    cookie = cookie.split(':')[2].split('\"')[1]
                    return cookie
                }
            }
            return '';
        }

        function getEmployees(){

            const workerID = getCookie('contractorWorkerIDCookie')
            window.location.pathname =`/contractorWorker/getRatingContractorWorkerByID/${workerID}`
        }
    </script>

</div>
</body>
</html>

