<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
        <link href="/styles/nav.css" rel="stylesheet">
        <meta http-equiv="">
    </head>
    <div id='navbar'>
        <ul>
            <li><a href="/">HR-COMPANY</a></li>
            <li><a href="/employer/search">SEARCH WORKER</a></li>
            <li><a href="/employment/history">EMPLOYMENTS HISTORY</a></li>
            <li><a href="/employer/getBookedEmployeesToday"> TODAY EMPLOYMENTS</a></li>
            <li><a href="/employer/getBookedEmployeesFuture"> FUTURE EMPLOYMENTS</a></li>
        </ul>
    </div>
</div>
</body>
</html>
