<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Fixed Header with html and css | Collapsing Header Tutorial</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="/styles/Home.css" rel="stylesheet">
</head>
<body>
<div class="box-area">
        <header>
                <div class="wrapper">
                        <div class="logo">
                                <a href="#">MHYHM</a>
                        </div>
                        <nav>
                                <a href="/">HOME</a><a href="/link1">link1</a><a href="/link2">link2</a><a href="/login"><button class="myButton">Log-In</button></a>
                        </nav>
                </div>

        </header>


</div>
</body>
</html>

