<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            /*margin-top: 30px;*/
            /*margin-bottom: 30px;*/
            text-align: left;
            font-family: "Arial Black";
            color: teal;
            margin-left: 30px;

        }
        input[type=text], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=Number], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=password], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=email], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=date], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 4px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }
        label{
            margin-left: 70px;
        }
        button{
            margin-left: 700px;
            border-radius: 12px;
            color: teal;
            background-color: teal;
            padding: 20px;
        }
        /*div {*/
        /*    border-radius: 5px;*/
        /*    background-color: #f2f2f2;*/
        /*    padding: 20px;*/
        /*}*/
    </style>
</head>
<body>
<div>
    <%- include ('./partials/CompanyEmployeeNav')%>
</div>
<form class="form-horizontal" action='/contractorWorker/addContractor' method="POST">

    <h1>Add new contractor</h1>


            <!-- ID-->
            <label class="control-label" for="ID">ID:</label>
            <br>
    <i class="fas fa-band-aid"></i>
                <input type="number" placeholder="Enter contractor ID" name="ID" min="100000000" max="999999999" id="ID" required  pattern="(\d\d\d\d\d\d\d\d\d)$" title="ID not valid" >
            <br>
            <!-- firstName -->
            <label class="control-label"  for="firstName">First Name:</label>
            <br>
                <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge"  pattern="[a-zA-z]+" required  >
            <br>
            <!-- lastName -->
            <label class="control-label"  for="lastName">Last Name:</label>
            <br>
                <input type="text" id="lasttName" name="lastName" placeholder="" class="input-xlarge"  pattern="[a-zA-z]+" required >
            <br>
            <!-- telephone -->
            <label class="control-label"  for="telephone">Phone Number:</label>
            <br>
                <input type="text" id="telephone" name="telephone" placeholder="" class="input-xlarge"   pattern="[0-9]+" required >
            <br>
            <!--dateOfBirth -->
            <label class="control-label"  for="dateOfBirth">Birthday:</label>
            <br>
                <input type="date" id="workDate" name="dateOfBirth" placeholder="" class="input-xlarge" required >
            <span id="message1" style="color:red"></span>
            <br>
            <!--areaOfResidence-->

                <label class="control-label"  for="areaOfResidence">Area Of Residence:</label>
                <br>
                <select class="form-group" name="areaOfResidence" id="areaOfResidence">
                <option value="NORTH">North</option>
                <option value="SOUTH">South</option>
                <option value="GALIL" >Galil</option>
                <option value="TEL_AVIV_METROPOLITAN_AREA" >Tel Aviv metropolitan area</option>
                <option value="NEGEV" >Negev</option>
                <option value="SHFELA" >Shfela</option>
                <option value="HAIFA_AND_THE_KRAYOT" >Haifa and the Krayot</option>
                <option value="JERUSALEM" >Jerusalem</option>
                </select>

            <br>

            <!-- hourlyWage -->
            <label class="control-label"  for="hourlyWage">Hourly Wage:</label>
            <br>
                <input type="number" id="hourlyWage" name="hourlyWage" placeholder="" class="input-xlarge"  pattern="[0-9]+" required min="0" >
            <br>

            <!--bankAccount.bankName-->
            <label class="control-label"  for="bankAccount.bankName"> Bank Name:</label>
            <br>
                <input type="text" id="bankAccount.bankName" name="bankAccount.bankName" placeholder="" class="input-xlarge"  pattern="[a-zA-z]+" required >
            <br>
            <!--bankAccount.branch-->
            <label class="control-label"  for="bankAccount.branch"> branch:</label>
            <br>
                <input type="number" id="bankAccount.branch" name="bankAccount.branch" placeholder="" class="input-xlarge"  pattern="[0-9]+" required >
            <br>

            <!--bankAccount.accountNumber-->
            <label class="control-label"  for="bankAccount.accountNumber">Account Number:</label>
            <br>
                <input type="number" id="bankAccount.accountNumber" name="bankAccount.accountNumber" placeholder="" class="input-xlarge"  pattern="[0-9]+" required >
            <br>

            <!--fieldOfEmployment-->
            <label class="control-label"  for="fieldOfEmployment">Field Of Employment:</label>
         <br>
        </div>
            <select class="form-group" name="fieldOfEmployment" id="fieldOfEmployment">
            <option value="ElectronicsAndElectricity">Electronics And Electricity</option>
            <option value="Fashion And Textiles" >Fashion And Textiles</option>
            <option value="SecurityAndSafety" >Security And Safety</option>
            <option value="ConstructionInfrastructureAndRealEstate">Construction Infrastructure And Real Estate</option>
            <option value="GraphicsDesignAndArt">Graphics Design And Art</option>
            <option value="EducationAndTraining" >Education And Training</option>
            <option value="AccountingAndFinance"  >Accounting And Finance</option>
            <option value="LogisticsProcurementAndShipping">Logistics Procurement And Shipping</option>
            <option value="RestaurantsFoodAndEvents" >Restaurants Food And Events</option>
            <option value="Retail" >Retail</option>
            <option value="Medicine And Health" >Medicine And Health</option>
            <option value="marketingAndAdvertising" >marketing And Advertising</option>
            <option value="CustomerService" >Customer Service</option>
            <option value="TransportAndVehicle" >Transport And Vehicle</option>
            <option value="TourismAndHotels" >Tourism And Hotels</option>
            <option value="IndustryAndManagement" >Industry And Management</option>
            <option value="Sales" >Sales</option>
            <option value="other" >other</option>
            </select>
        </div>


<!--        <div>-->
<!--            <p class="space row">                      </p>-->
<!--            <label> working Days:</label>-->
<!--            <div id = " workingDays">-->
<!--                <label><input type="checkbox" name="workingDays.Sunday" value="Sunday">Sunday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Monday" value="Monday" >Monday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Tuesday" value="Tuesday">Tuesday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Wednesday" value="Wednesday">Wednesday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Thursday" value="Thursday" >Thursday</label>-->
<!--                <label><input type="checkbox" name="workingDays.Friday" value="Friday">Friday</label>-->
<!--            </div>-->
<!--        </div>-->



            <p class="space row"></p>
            <!-- Experience -->
            <label class="control-label"  for="Experience">Experience:</label>
            <br>
                <input type="number" id="Experience" name="Experience" placeholder="Enter the contractor's years of experience if there is no,Enter 0" class="input-xlarge" required pattern="[0-9]+" min="0" >
            <br>

            <!-- E-mail -->
            <label class="control-label" for="userName">E-mail:</label>
            <br>
                <input type="email" id="userName" name="userName" placeholder="Enter contractor's email" class="input-xlarge" required>
                <br>


            <!-- Password-->
            <label class="control-label" for="password">Password:</label>
            <br>
                <input type="password" placeholder="Enter contractor password " name="password" id="password"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"  title="Password must be at least 6 characters, contain a capital letter, a small letter, a char and a number" >
                <p class="space row"></p>



            <!-- Button -->
                <button class="btn btn-success" type="submit" onclick="checkHourlyWage()">Add New Contractor</button>
                <script>
                    function checkHourlyWage() {
                        var date=new Date()
                        var date2=new Date(document.getElementById("workDate").value);
                        if(date2>date)
                        {
                            document.getElementById("message1").innerHTML="invalid date";
                            return false
                        }
                    }
                </script>
            </div>
        </div>
</form>
</body>
</html>