<!DOCTYPE html>
<html>
<head>
    <title>Attandence Report</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".btn1").click(function(){
                $("p").slideUp();
            });
            $(".btn2").click(function(){
                $("p").slideDown();
            });
        });
    </script>
</head>
<body>
<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste
            <p>This is a paragraph.</p>
            <button class="btn1">Slide up</button>
            <button class="btn2">Slide down</button>
        </td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
    </tr>
    <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
    </tr>
    <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
    </tr>
</table>
<fieldset>

<form class="form-horizontal" action='/attendanceReport/addAttendanceReport' method="post">

        <div id="legend">
           <h1> Attandence Report </h1>
        </div>
                <script>
                    function getCurrentTime() {
                        var currentdate = new Date();
                        var timenow = + currentdate.getHours() + ":"
                            + currentdate.getMinutes() + ":"
                            + currentdate.getSeconds();
                        document.getElementById("datebtn").innerHTML = currentdate;
                    }
                </script>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" type="submit">start shift</button>

            </div>
        </div>
    </form>
<form class="form-horizontal" action='/attendanceReport/editStartBreak' method="post">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" type="submit">start break</button>
            </div>
        </div>
</form>
    <form class="form-horizontal" action='/attendanceReport/editEndBreak' method="post">
        <div class="control-group">
            <div class="controls">
            <button  class="btn btn-success" type="submit">end break</button>
        </div>
        </div>
    </form>
    <form class="form-horizontal" action='/attendanceReport/editExistingTime' method="post">
        <div class="control-group">
            <div class="controls">
                <button  class="btn btn-success" type="submit">end shift</button>
            </div>
        </div>
    </form>
    </fieldset>
<div>

</div>
</body>
</html>