<!DOCTYPE html>
<html>
<head>
    <title>Attandence Report</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
</head>
<body>
<form class="form-horizontal" action='/attendanceReport/addAttendanceReport' method="post">
    <fieldset>
        <div id="legend">
           <h1> Attandence Report </h1>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">start Shift</label>
            <div class="controls">
                <input type="date" id="startShift" name="startShift" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">end Shift</label>
            <div class="controls">
                <input type="date" id="endShift" name="endShift" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">start Break</label>
            <div class="controls">
                <input type="date" id="startBreak" name="startBreak" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">startBreak</label>
            <div class="controls">
                <input type="date" id="endBreak" name="endBreak" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button onclick="validation();" class="btn btn-success" type="submit">report</button>
                <script>
                    function validation(){

                    }
                </script>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>