<!DOCTYPE html>
<html>
<head>
    <title>Attandence Report</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <style>
        #panel, #flip {
            padding: 5px;
            text-align: center;
            background-color: #e5eecc;
            border: solid 1px #c3c3c3;
        }

        #panel {
            padding: 50px;
            display: none;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .hidden_row td{
            display:none;
            /* height: 0px; */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#flip").click(function () {
                $("#panel").slideDown("slow");
            });
            $("#panel").click(function () {
                $("#panel").slideUp();
            });
        });

    </script>
    <script>
        function func(){
            $("#panel").slideDown("slow");
        }
    </script>
</head>
<body>
<div id="legend">
    <h1> Attandence Report </h1>
</div>
<div>
    <form action="/vacationReport" method="get">
        <button type="submit">report on vacation</button>
    </form>
</div>
<table class="center">
    <tr>
        <th>Company</th>
    </tr>
    <% if (locals.employments) {
        d = new Date()%>
        <% employments.forEach((item)=>{%>
    <tr >
        <td>
        <%=item.workDate%>
            <%if (item.workDate.getDate()==d.getDate()){%>
            <button onclick="func()"  >REPORT</button>
            <%};%>
        <div id="panel">hello world
            <form class="form-horizontal" action='/attendanceReport/addAttendanceReport' method="post">
                <!-- Button -->
                <div class="controls" id="start">
                    <%if (item.workDate.getDate()==d.getDate() && item.temp==0){%>
                    <button  class="btn btn-success" type="submit" >start shift</button>
                    <%item.temp=1%>
                    <%};%>
                </div>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editStartBreak' method="post">
                <div class="controls">
                    <button class="btn btn-success" type="submit">start break</button>
                </div>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editEndBreak' method="post">
                <div class="controls">
                    <button  class="btn btn-success" type="submit">end break</button>
                </div>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editExistingTime' method="post">
                <div class="controls">
                    <button  class="btn btn-success" type="submit">end shift</button>
                </div>
            </form>
        </div>
        </td>
    </tr>
            <%});%>
    <% } %>
</table>


</body>
</html>