<!DOCTYPE html>
<html>
<head>
    <title>Attandence Report</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
</head>
<body>
<fieldset>
<form class="form-horizontal" action='/attendanceReport/addAttendanceReport' method="post">

        <div id="legend">
           <h1> Attandence Report </h1>
        </div>
                <script>
                    function getCurrentTime() {
                        var currentdate = new Date();
                        var timenow = + currentdate.getHours() + ":"
                            + currentdate.getMinutes() + ":"
                            + currentdate.getSeconds();
                        document.getElementById("datebtn").innerHTML = currentdate;
                    }
                </script>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" type="submit">start shift</button>

            </div>
        </div>
    </form>
<form class="form-horizontal" action='/attendanceReport/editStartBreak' method="post">
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" type="submit">start break</button>
            </div>
        </div>
</form>
    <form class="form-horizontal" action='/attendanceReport/editEndBreak' method="post">
        <div class="control-group">
            <div class="controls">
            <button  class="btn btn-success" type="submit">end break</button>
        </div>
        </div>
    </form>
    <form class="form-horizontal" action='/attendanceReport/editExistingTime' method="post">
        <div class="control-group">
            <div class="controls">
                <button  class="btn btn-success" type="submit">end shift</button>
            </div>
        </div>
    </form>
    </fieldset>
<div>

</div>
</body>
</html>