<!DOCTYPE html>
<html>
<head>
    <title>Attandence Report</title>
    <style>
        .btn-group button {
            background-color: #555555; /* Green background */
            border: 0px solid green; /* Green border */
            color: white; /* White text */
            padding: 10px 24px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            float: left; /* Float the buttons side by side */

        }
        h1 {
            text-align: center;
            font-family: "Arial Black";
        }
        table {
            font-family: arial, sans-serif;
            width: 50%;
            -moz-border-radius:6px;
            border-collapse: collapse; /* IE7 and lower */
            border-spacing: 0;
        }

        td, th {
            text-align: left;
            padding: 8px;
            vertical-align: auto;
        }
        th{
            background-color: aquamarine;
        }
        th:first-child {
            border-radius: 6px 0 0 0;
        }

        th:last-child {
            border-radius: 0 6px 0 0;
        }

        th:only-child{
            border-radius: 6px 6px 0 0;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .hidden_row td{
            display:none;
            /* height: 0px; */
        }
        .button4 {border-radius: 12px;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="legend">
    <h1> Attandence Report </h1>
</div>
<div>
    <form action="/vacationReport" method="get">
        <button type="submit">report on vacation</button>
    </form>
</div>
<table class="center">
    <tr>
        <th>Company</th>
    </tr>
    <% if (locals.employments) {
        d = new Date()%>
        <% employments.forEach((item)=>{%>
    <tr >
        <td>
        <%=item.workDate.toDateString()%>
<!--        <div id="panel">-->
            <div class="btn-group">
            <form class="form-horizontal" action='/attendanceReport/addAttendanceReport/<%=item._id%>' method="post">
                    <%if (item.workDate.getDate()==d.getDate() && item.temp==0){%>
                    <button  type="submit" class="button4">start shift</button>
                    <%};%>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editStartBreak' method="post">
                <%if (item.workDate.getDate()==d.getDate()){%>
                <button type="submit" class="button4">start break</button>
                <%};%>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editEndBreak' method="post">
                <%if (item.workDate.getDate()==d.getDate()){%>
                <button  class="button4" type="submit">end break</button>
                <%};%>
            </form>
            <form class="form-horizontal" action='/attendanceReport/editExistingTime' method="post">
                <%if (item.workDate.getDate()==d.getDate()){%>
                <button  class="button4" type="submit">end shift</button>
                <%};%>
            </form>
<!--        </div>-->
        </div>
        </td>
    </tr>
            <%});%>
    <% } %>
</table>


</body>
</html>