<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lollll</title>
</head>
<body>
    <h2>this is the profile of <%= workerArr[1].firstName%> </h2>
      <ul>
            <% workerArr.forEach((item)=>{%>
            <li>first name : <%=item.firstName%></li> 
            <li>last name: <%=item.lastName%></li> 
            <%});%>
      </ul>
      <nav>
            <a href="/FutureBooking">FutureBooking</a>
            </nav>

 </body>
 </html>
    