<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
   
   
 <body>
 
  <h2 >Filter by future status</h2>

   <table >
     <!-- added line 38 -->
     <table>
        <% if (locals.employees) { %>
            <% employees.forEach((item)=>{%>
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>telephone</th>
            <th>email</th>
        </tr>
        <tr>
            <td><%=item.firstName%></td>
            <td><%=item.lastName%></td>
            <td><%=item.telephone%></td>
            <td><%=item.userName%></td>
        </tr>
        <%});%>
        <% } %>
    </table>

 

</body>

</html>