<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <title>Document</title>
</head>
<body>
  <h2 >Filter by month</h2>

    <input id="month" type="text" />
    <button onclick="filter()">Filter Employees</button>
    <p style="color: red;" id="error"></p>
    <table>
      <% if (locals.employees) { %>
        <% employees.forEach((item)=>{%>
        <tr>
          <th>first name</th>
          <th>last name</th>
          <th>telephone</th>
          <th>email</th>
        </tr>
        <tr>
          <td><%=item.firstName%></td>
          <td><%=item.lastName%></td>
          <td><%=item.telephone%></td>
          <td><%=item.email%></td>
        </tr>
        <%});%>
        <% } %>
      </table>
</body>
<script>
    function filter(){
        let month = document.getElementById('month').value
        if(!month){
            document.getElementById('error').innerHTML = 'must choose month'
            return
        }
        console.log(month)
       // window.location.href =`/filterEmploymentsByMonth/${month}`
        window.location.pathname = `employment/filterEmploymentsByBookingMonth/${month}`

    }
</script>
</html>

