<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>

  <input id="employerID" type="text" />
  <button onclick="filter()">Filter by employerID</button>
  <p style="color: red;" id="error"></p>
 
   <table>

     <tr>
       <th>first name</th>
       <th>last name</th>
       <th>telephone</th>
       <th>email</th>
     </tr>
       <% employees.forEach((item)=>{%>
     <tr>
       <td><%=item.firstName%></td>
       <td><%=item.lastName%></td>
       <td><%=item.telephone%></td>
         <td><%=item.userName%></td>
     </tr>
     <%});%>
   </table>
</body>
<script>
  function filter(){
      let employerID = document.getElementById('employerID').value
      if(!employerID){
          document.getElementById('error').innerHTML = 'must insert employerID'
          return
      }
      // console.log(employerID)
   
      window.location.href =`/filterEmploymentsByemployerID/${employerID}`
  }
</script>
</html>