<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            position: relative;
            margin: 20rem;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .button{
            background-color:#18c6c0;
            font-size:24px;
            color:white;
            border: none;
            position: relative;
            left: 40%;
            cursor: pointer;

        }
        h1{
            position: relative;
        }

    </style>
</head>


<body>
<h1>History</h1>
<div>
    <select onchange="window.location=this.options[this.selectedIndex].value">
        <option value="">filter by:</option>
        <option value="/filterEmploymentsByBookingMonth">Filter employment by month</option>
        <option value="/filterEmploymentsByDateForContractor">Filter employment by date</option>
        <option value="/filterEmployeesByStatus">Filter employment by status</option>
        <option value="/filterEmployeesByposition">Filter employment by position</option>
        <option value="/historyFieldofemployment">Filter employment by field Of Employment</option>
        <option value="/filterbycompanyName">Filter employment by company name</option>

        <!--        <option value="/filterEmploymentsByemployerID">Filter by employer ID </option>-->
    </select>
</div>
<input id="workDate" type="date" />
<button onclick="filter()">Filter Employees</button>
<div>
    <table class="center">
        <tr>
            <th>field</th>
            <th>status</th>
            <th>bookingDate</th>
            <th>workDate</th>
        </tr>
        <% if (locals.employments) { %>
            <% employments.forEach((item)=>{%>
            <tr>
                <td><%=item.field%></td>
                <td><%=item.status%></td>
                <td><%=item.bookingDate%></td>
                <td><%=item.workDate%></td>
            </tr>
            <%});%>
        <% } %>
    </table>
</div>
<script>
    function filter(){
        let workDate = document.getElementById('workDate').value
        if(!workDate){
            document.getElementById('error').innerHTML = 'must choose BookingDate'
            return
        }
        console.log(workDate)
        // window.location.href =`/filterEmploymentsByBookingDate/${BookingDate}`
        window.location.pathname = `employment/filterEmploymentsByDateContractor/${workDate}`
    }
</script>
</body>
</html>