<!DOCTYPE html>
<html>
<head>
    <title>LOG-IN</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <script type="text/javascript">
        function test_signup()
        {
            var res;
            var email = document.getElementById("email").value;
            var passup = document.getElementById("passup").value;
            var passagain=document.getElementById("passagain").value;
            var userup=document.getElementById("userup").value;


            if(email== "" && passup== ""&& userup== ""&& passagain=="")
                alert("Please fill in the fields");
            else {
                if ((passup.match(/[a-z]/g) && passup.match(/[A-Z]/g) && passup.match(/[0-9]/g) && passup.match(/[^a-zA-Z\d]/g) && passup.length >= 6) == null)
                    alert("Invalid password,The password must be at least 6 characters, contain a capital letter, a small letter, a char and a number.");
                    //else
                    //  res = "FALSE";
                //document.getElementById("t2").value = res;
                else if ((passagain == passup) == false)
                    alert("The password is not match");
                //else
                // res = "FALSE";
                //document.getElementById("t3").value = res;


                if ((/^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/.test(email)) == false)
                    alert("Invalid email");


                if (userup == "") {
                    alert("Name must be filled out");

                }
            }
        }
        function test_signin() {
            var userin = document.getElementById("userin").value;
            var passin = document.getElementById("passin").value;

            if (userin == ""&& passin == "")
                alert("Username and password must be filled out");
            else if (userin == "")
                alert("Username must be filled out");
            else
            if (passin == "")
                alert("Password must be filled out");
        }
    </script>

</head>
<body>
<%- include ('./partials/nav')%>

<div class="login-wrap">


    <div class="login-html">
        <pre>


    </pre>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <form class="model-content animate" action="/addUser" method="POST" id="addUser" >


        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="userin" class="label">Username</label>
                    <input id= "userin" type="text" class="input" name="username">
                </div>
                <div class="group">
                    <label for="passin" class="label">Password</label>
                    <input id="passin" type="password" class="input" data-type="password" name="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In" onclick="test_signin()"/>
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="userup" class="label">Username</label>
                    <input id="userup" type="text" class="input">
                </div>
                <div class="group">
                    <label for="passup" class="label">Password</label>
                    <input id="passup" type="password" class="input" data-type="password">
                    <!--<input type="text" id="t2" readonly/>-->
                </div>
                <div class="group">
                    <label for="passagain" class="label">Repeat Password</label>
                    <input id="passagain" type="password" class="input" data-type="password">
                    <!-- <input type="text" id="t3" readonly/>-->
                </div>
                <div class="group">
                    <label for="email" class="label">Email Address</label>
                    <input id="email" type="Email" class="input">
                    <!--<input type="text" id="t1" readonly/>-->
                </div>
                <div class="group">
                    <button type="submit" class="button" value="Sign Up" onclick="test_signup()"/>

                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>