<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fixed Header with html and css | Collapsing Header Tutorial</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="#">MHYHM</a>
                <%- include ('./partials/nav')%>
            </div>
        </div>
    </header>
    <div class="banner-area">
        <h2>this is the profile of <%= person%> </h2>
    </div>
    <div class="content-area">
        <div class="wrapper">
            <h2>content area</h2>
            <p>age: <%= data.age%></p>
            <p>age: <%= data.job%></p>

        </div>
    </div>
</div>
</body>
</html>
