<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script type="text/javascript">
    </script>
    <style>
        body
        {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background:azure;
        }
        h1 {
            /*margin-top: 30px;*/
            /*margin-bottom: 30px;*/
            text-align: left;
            font-family: "Arial Black";
            color: teal;
            margin-left: 30px;

        }
        input[type=password], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        input[type=email], select {
            width: 20%;
            padding: 12px 20px;
            margin: 2px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-left: 70px;
        }

        label {
            margin-left: 70px;
            color: teal;
            font-weight: bold;
            display: block;
            width: 150px;
            float: left;
        }
        button{
            margin-left: 160px;
            margin-bottom: 1px;
            border-radius: 12px;
            color: white;
            background-color: teal;
            padding: 20px;
        }
        p{
            margin-left: 70px;
            margin-bottom: 1px;
            border-radius: 12px;
            color: black;

            padding: 20px;
        }
        inline
        {
            display: inline;

        }

        /*div {*/
        /*    border-radius: 5px;*/
        /*    background-color: #f2f2f2;*/
        /*    padding: 20px;*/
        /*}*/
    </style>
</head>
<body>
<h1>SIGN IN AS CONTRACTOR WORKER </h1>
<br>
<!--====form section start====-->
<div class="user-detail">

    <hr>
    <form action="/contractorWorker/loginOfContractorWorker" method="POST">
        <div>
            <label>User Name</label>
            <br>
            <input type="email" placeholder="Enter Email Address" name="userName" required>
            <br>
            <label>Password</label>
            <br>
            <input type="password" placeholder="Enter Your Password" name="password" id="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$" title="Password must be at least 6 characters, contain a capital letter, a small letter, a char and a number" >
            <br>
<!--        <div class="group">-->
<!--            <input id="check" type="checkbox" class="check" checked>-->
<!--            <label for="check"><span class="icon"></span> KEEP ME SIGNED IN</label>-->
<!--        </div>-->
            <br>
            <button type="submit" >SIGN IN</button>

<!--        <div class="foot-lnk">-->
<!--            <textarea id="text">write text here...</textarea>-->
<!--            <input type="button" value="Send Email" >-->
<!--            &lt;!&ndash; <a >FORGOT PASSWORD? </a> onclick="sendMail()"&ndash;&gt;-->
<!--        </div>-->
        </div>
    </form>
</div>
</div>
<!--====form section start====-->
</body>
</html>