<!DOCTYPE html>
<html>
<head>
    <title>error</title>
</head>
<body>
<div>
<label>!!ERROR!!</label>
</div>
<label>ACCOUNT ALREADY EXISTS</label>
<p>The email you entered exists in our system </p>
<p> You may have an account <a href="/employer/employerLogin ">Click To Sign In </a> </p>
<p> Try to register with another email  <a href="/employer/employerRegister">Try Again</a> </p>
</p>
</body>
</html>