:root {
    --pink: white;
}

body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-color: azure;

}

#navbar {
    width: 100vw;
    height: 65px;
    background-color: #172429;
    font-weight: bold;
}
#navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 10px;
}
#navbar li a {
    text-decoration: none;
    color: #18c6c0;
    padding-right: 2em; /* Space between links in Nav*/
    position: relative;
    transition: all ease-in-out 250ms;
}
#navbar li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: white;
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
#navbar li a:hover::after {
    width: 60%;
}
#navbar li a:hover {
    color: white;
}
#navbar li:first-child {
    margin-right: auto;
    margin-left: 1em;
}
.myButton {
    background-color: #0f9f8e;
    border-radius:28px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial ;
    font-size:17px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-right: 20px;

}
.myButton:hover {
    background-color: #42e0db;
}
.myButton:active {
    position:relative;
    top:1px;
}




/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*body {*/
/*    text-align: center;*/

/*}*/
/*.wrapper {*/
/*    width: 1170px;*/
/*    margin: 0 auto;*/
/*}*/
/*header {*/
/*    height: 100px;*/
/*    background: #262626;*/
/*    width: 100%;*/
/*    z-index: 10;*/
/*    position: fixed;*/
/*}*/
/*.logo {*/
/*    width: 150px;*/
/*    float: left;*/
/*    line-height: 100px;*/
/*}*/
/*.logo a {*/
/*    width:150px;*/
/*    cursor: pointer;*/

/*}*/
/*nav {*/
/*    float: right;*/
/*    line-height: 100px;*/
/*}*/
/*nav a {*/
/*    text-decoration: none;*/
/*    font-family: poppins;*/
/*    letter-spacing: 1px;*/
/*    font-size: 15px;*/
/*    margin: 0 10px;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*}*/
/*.banner-area {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    position: fixed;*/
/*    top: 100px;*/
/*    background-image: url(https://image.shutterstock.com/image-vector/color-year-2016-rose-quartz-260nw-360981278.jpg);*/
/*    -webkit-background-size: cover;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/
/*.banner-area h2 {*/
/*    padding-top: 8%;*/
/*    font-size: 70px;*/
/*    font-family: poppins;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*}*/
/*.content-area {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    top: 0px;*/
/*    background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 ");*/
/*    height: 1000px;*/
/*}*/
/*.content-area h2 {*/
/*    font-family: poppins;*/
/*    letter-spacing: 4px;*/
/*    padding-top: 30px;*/
/*    font-size: 40px;*/
/*    margin: 0;*/
/*}*/
/*.content-area p {*/
/*    padding: 2% 0px;*/
/*    font-family: poppins;*/
/*    line-height: 30px;*/
/*}*/
/*.myButton {*/
/*    background-color:#599bb3;*/
/*    border-radius:28px;*/
/*    border:1px solid #29668f;*/
/*    display:inline-block;*/
/*    cursor:pointer;*/
/*    color:#ffffff;*/
/*    font-family:poppins;*/
/*    font-size:17px;*/
/*    padding:10px 20px;*/
/*    text-decoration:none;*/
/*    text-shadow:0px 1px 0px #3d768a;*/
/*}*/
/*.myButton:hover {*/
/*    background-color:#408c99;*/
/*}*/
/*.myButton:active {*/
/*    position:relative;*/
/*    top:1px;*/
/*}*/
.btn{
    background-color:#599bb3;
}