<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <%- include ('../partials/EmployerNav')%>
</div>
<table>

    <tr>
        <th>name</th>
    </tr>
    <% names.forEach((item)=>{%>
        <tr>
            <td><%=item.name%></td>
        </tr>
    <%});%>
</table>
</body>
</html>