<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>

</head>
<body>
<div>
    <%- include ('../partials/ContractorWorkerNav')%>
</div>
<h2><b>Rating</b></h2>
<p style="color: red;" id="error"></p>

<% if (locals.rating) { %>
<h3>Your rating from current employer is : <%=rating%></h3>
    <% } %>



</body>

</html>