<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacations</title>
</head>
<body>
<div>
    <%- include ('../partials/ContractorWorkerNav')%>
</div>
<form action="/vacation/addVacation" method="post">
    <label for="departureDate">Start vacation:</label><br>
    <input type="date" id="departureDate" name="departureDate" value=""><br>

    <label for="returningDate">end vacation:</label><br>
    <input type="date" id="returningDate" name="returningDate" value=""><br>
    <button type="submit">report</button>
</form>
</body>
</html>