<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search contractor worker</title>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
<div class="banner-area"> </div>

<form class="form-horizontal" action="/contractorWorker/findContractorWorkerById" method="POST">

        <div id="legend">
            <h1> Search contractor worker</h1>
        </div>

            <!-- ID-->
        <label> Enter Contractor ID: </label>
        <input type="text" placeholder=" ID" name="ID" min="100000000" max="999999999" id="ID" required  pattern="(\d\d\d\d\d\d\d\d\d)$" title="ID not valid, ID must contain 9 digits" >
        <button type="submit" >SEARCH</button>

</form>
</div>
</body>
</html>