<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body {
            margin: 0; height: 100%;
        }
        .button{
            background-color:#18c6c0;
            font-size:24px;
            color:white;
            border: none;
            position: relative;
            cursor: pointer;
        }
    </style>
    <title>Filter</title>


</head>

<body>
    <div>
        <%- include ('../partials/CompanyEmployeeNav')%>
    </div>
    <h1>Employments filter</h1>
    <select onchange="window.location=this.options[this.selectedIndex].value">
        <option value="">filter by:</option>
        <option value="/filterEmploymentsByBookingMonth">Filter employment by month</option>
        <option value="/filterEmploymentsByBookingDate">Filter employment by date</option>
        <option value="/filterEmployeesByStatus">Filter employment by status</option>
    <option value="/filterEmployeesByposition">Filter employment by position</option>
      <option value="/filterByfieldOfEmployment">Filter employment by field Of Employment</option>
        <option value="/filterbycompanyName">Filter employment by company name</option>

<!--        <option value="/filterEmploymentsByemployerID">Filter by employer ID </option>-->
    </select>

</body>

</html>
