<!DOCTYPE html>
<html>
<head>
    <title>Title </title>
</head>
<body>
<div>
    <label>OOPS...</label>
    <label>!!ERROR!!</label>
</div>
<label> NO SALARIES FOUND </label>
<p>Salaries were not calculated for the worker you entered</p>
<p> Try to enter another id <a href="/companyEmployee/searchContractorWorker">Try Again </a> </p>

</body>
</html>