<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div>
    <label>OOPS..</label>
</div>
<label>THIS WORKER DIDNT WORK IN THIS MONTH </label>
<p>The employee for whom you wanted to calculate salary didnt work in the month you entered </p>
<p> Try to enter another month <a href='/salary/EmployeeSalaryAndReportOption/<%=ID%>'>Try Again </a> </p>

</body>
</html>