<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error report</title>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
<!--<button onclick="location.href='searchContractorErrorReport'">Error Reporting</button>-->
<a href="/errorReport/searchContractorErrorReport">Error Report</a>
<a href="/errorReport/findAllErrorReports">Fix Error Report</a>


</body>
</html>
