<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STATISTICS</title>
    <style>
    .a1:link, a:visited {
    background-color: cadetblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    .a1:hover, a:active {
    background-color: cadetblue;
    }
    </style>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
<h1>STATISTICS</h1>
<ul>
    <a style="margin-left: 70px"  class="a1" href="/statistics/fieldsOfEmployments">FIELDS</a>
    <a style="margin-left: 70px; background-color: darkslategrey"  class="a1" href="/statistics/employersOfEmployments">EMPLOYERS</a>
    <a style="margin-left: 70px; background-color: steelblue"  class="a1" href="/statistics/chooseMonth">WORKERS</a>
    <a style="margin-left: 70px; background-color: seagreen"  class="a1" href="/statistics/avgSalary">SALARIES</a>



</ul>
</body>
</html>