<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STATISTICS</title>
</head>
<body>
<div>
    <%- include ('../partials/CompanyEmployeeNav')%>
</div>
<p>STATISTICS</p>
<ul>
    <li><a href="/statistics/fieldsOfEmployments">FIELDS</a></li>
    <li><a href="/statistics/employersOfEmployments">EMPLOYERS</a></li>
    <li><a href="/statistics/chooseMonth">WORKERS</a></li>
    <li><a href="/statistics/avgSalary">SALARIES</a></li>



</ul>
</body>
</html>